/* Container for the form */
.login-form {
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}


.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.login-form button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.login-form button:hover {
  background-color: #0056b3;
}

.login-form div {
  margin-bottom: 20px;
}
.closebox {
  display: flex;
}

.closebox span {
  
  margin-left: auto;
}
.closebox span :hover {
  cursor: pointer;
  color: red;
}

@media (max-width: 400px) {
  .register-form {
    width: 90%;
    padding: 5px; /* Further reduced padding for even smaller screens */
  }
}
