.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url(./background.jpg);
  background-position: center;
  background-size: cover;
  transition: filter 0.3s ease;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: #00ef93; /* Dark color for better visibility */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9); /* Adds shadow */
}

.intro2 {
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  color: #ffffff; /* Darker shade for visibility */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); /* Same shadow as .title */
}
.intro1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  color: #ffffff; /* Darker shade for visibility */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); /* Same shadow as .title */
}

.intro-text {
  width: 100%;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  /* color: #000000; */
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9); /* Same shadow as .title */
  text-align: center;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center; /* Aligns buttons to the center */
  font-size: 1.5rem;
  width: 100%;
}

.buttonContainer button {
  margin-right: 25px;
  min-width: 90px;
  min-height: 35px;
  border-radius: 3.5px;
  background-color: #000000;
  box-shadow: inherit #ffffff 0 1px;
}

.buttonContainer button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.blur-background {
  filter: blur(5px); /* Apply the blur effect */
}

.login-container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  align-items: center;
}
.close-button {
  align-self: flex-end;
}
@media (max-width: 600px) {
  .login-container {
    width: 70%; /* Wider form for better visibility */
    padding: 10px;
    min-height: 50%; /* Reduced height for compact appearance */
  }

  .login-container button {
    padding: 10px; /* Bigger buttons for mobile */
    font-size: 12px; /* Increased font size for better usability */
  }
}
