Flask==2.3.3
transformers==4.41.1
torch==2.3.0
scikit-learn==1.5.0
spacy==3.7.4
blis==0.7.11
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
gunicorn==21.2.0
flask-cors
requests