
.register-form {
  max-width: 350px;
  height: 100%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  z-index: 1;
}


.register-form label {
  display: inline;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}


.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}


.register-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


.register-form button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.register-form button:hover {
  background-color: #0056b3;
}
.closebox {
  display: flex;
}
.closebox span {
  margin-left: auto;
}



@media (max-width: 400px) {
  .register-form {
    width: 90%;
    padding: 5px; 
  }
}
